/* Hide top banner. */
._s15 {
    display: none !important;
}

/* Hide persistent cookie checkbox. */
._43dj {
    visibility: hidden !important;
}

/* Hide signin footer. */
._210n {
    display: none !important;
}

/* Remove outline from settings button. */
._4bl7,
._36ic,
._5vn4,
._30yy,
._2fug {
    outline: none !important;
}

/* Hide call buttons. */
._31tp,
._31tn {
    display: none !important;
}