*.suo
*.user
*.designer.cs
*.db
*.pfx
*.appx
*.appxupload
*.appxsym
_ReSharper.*
bin
obj
csx
packages
packages/*
*.sln.ide
*.sln.ide/*
publish
publish/*
.vs
.vs/*
debug.log
node_modules
node_modules/*
aws.json
.awspublish*