<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings file="Settings.config">
    <add key="PublishPath" value=""/>
    <add key="StorageAccountConnectionString" value="" />
  </appSettings>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>